@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.header{
  background: #C18A09;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
}

.header .logo img{
  position: relative;
  width: auto;
  cursor: pointer;
  height: 100px;
}

.header .search-box{
  position: relative;
  display: flex;
  width: 40%;
  height: 35px;
  align-items: center;
}

.header .search-box input{
  border: 2px solid rgba(64, 40, 168, 0.671);
  border-radius: 30px;
  padding-left: 20px;
  outline: none;
  height: 100%;
  font-size: 20px;
  width: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.header .search-box .search-icon{
  position: absolute;
  cursor: pointer;
  color: rgb(2, 84, 179);
  right: 20px;
  font-size: 20px;
  padding-left: 10px;
  border-left: 2px solid rgb(2, 84, 179);;
}

.header .items{
  position: relative;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-right:0;
}

.header .items span{
  font-size: 30px;
  cursor: pointer;
  color: rgb(2, 84, 179);
}

.header .items img{
  width: 60px;
  height: 60px;
  border: 1px solid rgb(2, 84, 179);
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .phone-search{
  display: none;
  position: absolute;
  z-index: 6;
  background-color: #e9a914;
  width: 40%;
  height: 7%;
  margin: 90px 5% 0 57%;
}
.phone-search input{
  border: 2px solid rgba(64, 40, 168, 0.671);
  border-radius: 30px;
  padding-left: 10px;
  outline: none;
  height: 60%;
  margin-top: 10px;
  margin-left: 5%;
  width: 90%;
}

.phone-search .icon{
  position: absolute;
  color: rgb(2, 84, 179);
  font-size: 15px;
  border-left: 2px solid rgb(2, 84, 179);
  padding-left: 5px;
  right: 10%;
  top: 30%;
}
.dots{
  bottom: 100px;
  display: flex;
  justify-content: center;
}
.dots .first{
  cursor: pointer;
  color: #e9a914;
}
.dots .second{
  color: black;
}
.dots div:not(:last-child){
  margin-right: 10px;
}
.dots i:hover{
  color:#e9a914;
}

.sidebar{
  display: none;
  background-color:#e9a914;
  z-index: 5;
  border-radius: 10px;
  margin-top: 80px;
  margin-left: 20px;
  position: fixed;
  width: 80px;
  height: 280px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidebar .pf{
  padding-bottom: 7%;
  margin:10% 10% 15% 10%;
  width: 80%;
  border-bottom: 1px solid gray;
}
.sidebar img{
  width: 60px;
  cursor: pointer;
}
.sidebar .pointer{
  position: absolute;
  color: #e9a914;
  top: -10px;
  left: 33px;
  transform: rotateZ(150deg);
  -webkit-transform: rotateZ(150deg);
  -moz-transform: rotateZ(150deg);
  -ms-transform: rotateZ(150deg);
  -o-transform: rotateZ(150deg);
}
.sidebar .sub-item span{
  color: rgb(2, 84, 179);
}
.sidebar .sub-item{
  display: block;
  align-items: center;
  font-size: 30px;
  padding: 20px 0 0 20px;
}

.header .menu-icon{
  display: none;
  color: rgb(2, 84, 179);
}
.header .search-mobi{
  display: none;
  color: rgb(2, 84, 179);
}

.header-img  img{
  width: 100%;
  height: 600px;
  margin-top: 120px;
}
.header-img .second-img{
  display: none;
}
.header-img .first-img{
  display: flex;
}

.produ{
  width: 80%;
  margin: 50px auto;
  border-bottom: 2px solid #afa690;
}
.produ .pro-name{
  position: relative;
  z-index: -1;
  top: 1.5px;
  color:#fff;
  width: 150px;
  padding: 10px;
  background-color: #e9a914;
}
.stylee{
  position: absolute;
  top: -10px;
  left: 90px;
  width: 0;
  border-right: 30px solid;
  border-left: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-top: 30px solid transparent;
}
.item1{
  text-align: center;
  margin-top: 35px;
}
.catagories .cat-item1 h2{
  font-size: 18px;
  color: #644c13;
}
.catagories{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  margin: 10px 10% 10px 10%;
}
.catagories .cat-item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.catagories .cat-item1 img{
  width: 70%;
  margin: 20px;
  cursor: pointer;
}
.catagories .cat-item1 img:hover{
  transform: scale(1.2);
  z-index: -1;
}
.learning{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  margin: 10px 5% 10px 5%;
}
.learning .cat-item1 img {
  width: 90%;
  margin-left: 10%;
}
.learning .cat-item1 img:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.learning .cat-item1{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.learning .cat-item1 h2{
  font-size: 15px;
  margin-bottom:10px;
  text-decoration: underline;
}
.cloth{
  display: grid;
  grid-template-columns: repeat(4,1fr) ;
  padding: 20px;
  margin: 10px 5% 0 5%;
}
.cloth .cat-item2 .price{
  font-size: 15px;
  margin-right: -40%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cloth .cat-item2 .stars{
  margin-top: 3%;
}
.cloth .cat-item2 .stars i{
  font-size: 25px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: gold;
}

.cloth .cat-item2 .item2{
  margin-bottom: 20px;
  font-size: 18px;
}
.cloth .cat-item2{
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5px;
  align-items: center;
  box-shadow: 0px 3px 8px 5px #888888;
  height: 500px;
  margin-left: 10%;
  margin-bottom: 15px;
  cursor: pointer;
}
.cloth .cat-item2:hover{
  cursor: pointer;
  z-index: -1;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.cloth .cat-item2 img{
  width: 80%;
  height: 60%;
}

.cloth .cat-item2 .btn{
  width: 40%;
  background-color: red;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  height: 7%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cloth .cat-item2 .btn:hover{
  background-color: #e9a914;
}


@media (max-width: 1140px){
  .header .search-box, .header .items{
    display: none;
    color: rgb(2, 84, 179);
  }
  .header{
    justify-content: space-between;
    padding: 0 50px 0 50px;
    height: 100px;
  }
  .header-img img{
    margin-top: 100px;
    height: auto;
  }
  .header .logo img{
    height: 90px;
  }
  .cloth .cat-item2 .btn{
    margin-bottom: 20px;
  }
  .header .search-mobi,.header .menu-icon{
    display: flex;
    font-size: 25px;
  }
  .cloth .cat-item2{
    height: 400px;
  }
  .cloth .cat-item2 img{
    width: 80%;
    height: 60%;
  }
  .cloth .cat-item2 .price{
    font-size: 10px;
  }
  .cloth .cat-item2 .item2{
    font-size: 15px;
  }
  .cloth .cat-item2 .stars i{
    margin-top: 10px;
    font-size: 20px;
  }
  .catagories .cat-item1 h2{
    font-size: 13px;
  }
}
@media (max-width: 1010px) {
  .catagories, .learning{
    grid-template-columns: repeat(4,1fr) ;
  }
  .cloth .cat-item2{
    margin-left: 10%;
    height: 90%;
  }
  .cloth .cat-item2 .stars i{
    margin-top: 10px;
    font-size: 15px;
  }
  .cloth .cat-item2 img{
    width: 90%;
    height: 200px;
  }
  .cloth .cat-item2 .btn{
    font-size: 12px;
  }
  .cloth .cat-item2 .item2{
    font-size: 13px;
  }
}

@media (max-width: 750px) {
  .sidebar{
    width: 50px;
    height: 180px;
    margin-top: 70px;
    margin-left: 10px;
  }
  .sidebar .pointer{
    width: 20px;
    left: 10px;
  }
  .sidebar img{
    width: 40px;
  }
  .sidebar .sub-item{
    font-size: 20px;
    padding: 10px 0 0 15px;
  }
  .header{
    z-index: 5;
    padding: 0 25px 0 25px;
    height: 80px;
  }
  .header-img img{
    margin-top: 80px;
    height: auto;
  }
  .header .search-mobi, .header .menu-icon{
    font-size: 15px;
  }
  .header .logo img{
    height: 60px;
  }
  .catagories .cat-item1 img, .learning .cat-item1 img{
    margin-left: 30px;
    margin-top: 10px;
  }
  .cloth .cat-item2{
    margin-left: 0px;
    margin-right: 30px;
    height: 90%;
  }
  .cloth .cat-item2 .stars i{
    margin-top: 3px;
  }

  .cloth .cat-item2 img{
    width: 90%;
    height: 90%;
    margin: 10px 10px 10px;
  }
  .cloth{
    grid-template-columns: repeat(3,1fr);
    margin-left: 3%;
    overflow-x: scroll;
  }
  .cloth .cat-item2 .btn{
    margin-bottom: 30px;
    font-size: 10px;
    height: 40px;
    border: 1px solid gray;
  }
  .learning .cat-item1 h2{
    margin-bottom: 0;
  }


  .phone-search{
    margin-top: 70px;
    right: 0px;
    height: 4.5%;
  }
  .phone-search input{
    margin-top: 6px;
    font-size: 10px;
    padding-left: 3px;
  }
  .phone-search .icon{
    right: 8%;
    font-size: 11px;
  }
}

@media (max-width:625px) {
  .cloth .cat-item2{
    margin-left: 0px;
    margin-right: 30px;
    height: 90%;
  }
  .cloth .cat-item2 .price,
  .cloth .cat-item2 .stars i{
    font-size: 10px;
    margin-top: 5px;
  }
  .cloth .cat-item2 .item2{
    font-size: 12px;
  }

  .cloth .cat-item2 img{
    width: 130px;
    height: 80%;
    margin: 10px 10px 10px;
  }
  .cloth ,.catagories, .learning{
    grid-template-columns: repeat(8,1fr);
    margin-left: 3%;
    overflow-x: scroll;
  }
  .cloth .cat-item2 .btn{
    margin-bottom: 20px;
    font-size: 10px;
    border: 1px solid gray;
  }
  .catagories .cat-item1 img{
    width: 130px;
    margin: 20px 20px 10px;
  }
  .produ .pro-name{
    top: 1.5px;
    width: 130px;
    padding: 5px;
    font-size: 13px;
  }
  .produ{
    margin: 30px auto;
  }
  .stylee{
    top: -15px;
    left: 70px;
    border-right: 30px solid;
    border-left: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
  }
  .learning .cat-item1 img{
    width: 230px;
    margin: 10px 10px 10px;
  }
}

@media (max-width:450px) {
  .catagories .cat-item1{
    width: 100px;
    margin-left: 20px;
  }
  .catagories .cat-item1 .item{
    font-size: 10px;
    margin-bottom: 10px;
  }
  .catagories .cat-item1 img{
    width: 100%;
  }
  .cloth{
    height: 80%;
  }
  .cloth .cat-item2{
    width: 100px;
  }
  .cloth .cat-item2 .price{
    font-size: 8px;
    margin-bottom: 0;
  }
  .cloth .cat-item2 .stars{
    margin-top: 0;
  }
  .cloth .cat-item2 .stars i{
    font-size: 8px;
  }
  .cloth .cat-item2 .item2{
    font-size: 8px;
    margin: 0;
  }
  .cloth .cat-item2 img{
    width: 90%;
    margin: 0px;
  }
  .cloth .cat-item2 .btn{
    width: 50%;
    margin-top: 3px;
    height: 20px;
    font-size: 8px;
  }
  .learning .cat-item1{
    width: 150px;
    flex-direction: column;
    margin: 10px 5px 10px;
  }
  .learning .cat-item1 img{
    width: 100%;
  }
  .learning .cat-item1 h2{
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .phone-search{
    width: 70%;
    height: 4%;
  }
}